.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

*.iml
.idea/

android/.gradle/
android/local.properties
android/app/google-services.json

ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner/GoogleService-Info.plist
ios/Runner/GoogleService-Info*.local.plist

DerivedData/
*.xcuserstate
xcuserdata/
*.xcuserdatad/
**/xcuserdata/
